# Application Configuration
RAILS_ENV=development
PORT=3000
RAILS_MAX_THREADS=5

# PostgreSQL Database Configuration
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
